*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
}
header{
    background-image:linear-gradient(rgba(80, 78, 78, 0.712),rgba(0, 0, 0, 0.61)),
    url(image/home.jpg); 
    height: 50vh;
   background-position: center;
    background-size: cover;
}
.main ul{
    list-style-type: none;
    font-size: 20px;
    top : 3%;
    position: absolute;
    right:3%;
    font-weight: bolder;
}
.main ul li{
    display: inline-block;
    margin-top: 25px;
}
.main ul li a{
    text-decoration : none;
    color: #ffffff;
    padding: 5px 20px;
 
}
.main ul li a:hover{
    
    color: white;
    background-color: rgb(74, 108, 151);
}
ul li.active a{
    border: 2px solid white;
    color : black;
    background-color: white;
}
.mainlogo {
    position: absolute;
    top: 3%;
    left: 3%;
}

.search{
    position: absolute;
    top:30%;;
    left: 50%;
    transform : translate(-50%,-50%);
    text-align: center;
}
.search h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.search h3{
    color : white;
    font-size: 20px;
    font-weight: lighter;
}
.search [type=text] {
    width: 15cm;
    height: 1cm;
    text-align: left;
    margin-top: 40px;
    border-radius: 20px;
    font-size: 15px;
    border-color: rgb(63, 116, 196);
  }
.search button {
    width: 5cm;
    height: 1.2cm;
    border-radius: 20px;
    border-color: white;
    background-color: rgb(48, 91, 119);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.search button.active:hover{
    background-color : rgb(29, 41, 82);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.bottom h1{
    color: rgb(16, 76, 133);
    position: absolute;
    top:55.5%;;
    left: 50%;
    transform : translate(-50%,-50%);
    text-align: center;
    font-weight: bolder;
}
.bottom p{
    position: absolute;
    top: 59%;
    left: 50%;
    transform : translate(-50%,-50%);
    font-weight: bolder;
    color: rgba(105, 119, 134, 0.726);
}
.flex-container {
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform : translate(-50%,-50%);
    text-align: center;
    color: rgb(44, 92, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .flex-container sub{
    font-weight: lighter;
    font-size: small;
  }
  .flex-container > div {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(200, 230, 248);
  }
  .flex-container div:hover{
    background-color: rgb(145, 186, 233);
    color: white;
  }
  .footer{
      top : 103%;
      color: rgb(44, 68, 112);
      position: absolute;
      transform : translate(-50%,-50%);
      left: 50%;
  }
  * {box-sizing: border-box}

.container {
  top: 130%;
  left: 50%;
  transform : translate(-50%,-50%);
  position: absolute;
  color: rgb(32, 45, 71);
  
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

#signin {
  /*top: 155%;
  left: 50%;
  transform : translate(-50%,-50%);
  position: absolute;*/
}
